    *{
        margin: 0;
        padding: 0;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    body{
        background-color: #0680b1;
    }

    .topo{
        box-shadow:  0px 30px 100px rgb(255, 255, 255);
        margin: 0;
        padding: 30px;
        background-color: rgb(57, 136, 132);
        flex-wrap: nowrap;
    }

    .container-logo{
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    li{
        font-size: 20px;
        font-weight: 600;
        color: white;
        border-radius: 40px;
        display: inline-block;
        padding: 10px;
    }

    .menu-nav{
        flex-wrap: nowrap;
        transition: 1s;
        transition-timing-function: ease;
        padding: 10px 20px;
    }
eu amo meus pais
    .menu-nav:hover{
        box-shadow: 0px 0px 15px rgb(255, 255, 255);
        border-bottom: 45px black;
        transition: 1s;
        transition-timing-function: ease;
        padding: 15px 30px;
        margin: 0 20px;
        color: white;
        border-radius: 45px;
        background-color: #0680b1;
    }

    #logo{
        display: inline-block;
        margin: 0;
        font-size: 20px;
        font-weight: 600;
        flex-wrap: nowrap;
        transition: 1s;
        transition-timing-function: ease;
        padding: 10px 30px;
        
    }

    #logo:hover{
        box-shadow: 0px 0px 15px rgb(255, 255, 255);
        background-color: #0680b1;
        transition: 1s;
        transition-timing-function: ease;
        color: white;
        font-size: 30px;
        border-radius: 45px;
    }

    a{
        text-decoration: none;
    }

    a:visited{
        color: white;
    }